
/****** Object:  Database [QlyKhoHang]    Script Date: 05/27/2019 0:41:42 ******/
CREATE DATABASE [QlyKhoHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QlyKhoHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LUISTRINH\MSSQL\DATA\QlyKhoHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QlyKhoHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LUISTRINH\MSSQL\DATA\QlyKhoHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QlyKhoHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QlyKhoHang]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 05/27/2019 0:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[MaAD] [int] IDENTITY(1,1) NOT NULL,
	[TenAD] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuong]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuong](
	[MaDT] [nvarchar](128) NOT NULL,
	[TenDT] [nvarchar](max) NULL,
	[MaDVT] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[QRcode] [nvarchar](max) NULL,
	[Barcode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[MaDVT] [int] IDENTITY(1,1) NOT NULL,
	[DonViTinh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](max) NULL,
	[DiaChiKH] [nvarchar](max) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[ThongTin] [nvarchar](max) NULL,
	[NgayHT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenND] [nvarchar](max) NULL,
	[UserName] [nvarchar](20) NULL,
	[PassWord] [nvarchar](max) NULL,
	[MaAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](max) NULL,
	[DiaChiNCC] [nvarchar](max) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[ThongTin] [nvarchar](max) NULL,
	[NgayHT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKhos]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKhos](
	[MaNK] [nvarchar](128) NOT NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapTT]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapTT](
	[MaNTT] [nvarchar](128) NOT NULL,
	[MaDT] [nvarchar](128) NOT NULL,
	[MaNK] [nvarchar](128) NOT NULL,
	[count] [int] NULL,
	[GiaNhap] [float] NULL,
	[GiaXuat] [float] NULL,
	[TrangThai] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatKhos]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatKhos](
	[MaXK] [nvarchar](128) NOT NULL,
	[NgayXuat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatTT]    Script Date: 05/27/2019 0:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatTT](
	[MaXTT] [nvarchar](128) NOT NULL,
	[MaDT] [nvarchar](128) NOT NULL,
	[MaXK] [nvarchar](128) NOT NULL,
	[MaKH] [int] NOT NULL,
	[count] [int] NULL,
	[TrangThai] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhapTT] ADD  DEFAULT ((0)) FOR [GiaNhap]
GO
ALTER TABLE [dbo].[NhapTT] ADD  DEFAULT ((0)) FOR [GiaXuat]
GO
ALTER TABLE [dbo].[DoiTuong]  WITH CHECK ADD FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DonViTinh] ([MaDVT])
GO
ALTER TABLE [dbo].[DoiTuong]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([MaAD])
REFERENCES [dbo].[admin] ([MaAD])
GO
ALTER TABLE [dbo].[NhapTT]  WITH CHECK ADD FOREIGN KEY([MaDT])
REFERENCES [dbo].[DoiTuong] ([MaDT])
GO
ALTER TABLE [dbo].[NhapTT]  WITH CHECK ADD FOREIGN KEY([MaNK])
REFERENCES [dbo].[NhapKhos] ([MaNK])
GO
ALTER TABLE [dbo].[XuatTT]  WITH CHECK ADD FOREIGN KEY([MaDT])
REFERENCES [dbo].[DoiTuong] ([MaDT])
GO
ALTER TABLE [dbo].[XuatTT]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[XuatTT]  WITH CHECK ADD FOREIGN KEY([MaXK])
REFERENCES [dbo].[XuatKhos] ([MaXK])
GO
USE [master]
GO
